*{
  margin: 0;
  padding: 0;
  font-family: "Roboto" sans-serif;
 
  
}

body{
  
  background-image:linear-gradient(to bottom right, rgba(242, 109, 229, 0.9), rgba(78, 126, 94, 0.9)), url("./todo3.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');